footer {
    display: flex;
    background-color: rgb(236, 236, 236);
    height: 250px;
    width: auto;
}

.card {
    width: 33%;
    margin: 15px 0 0 15.5em;  
}

.card h3 {
    font-size: 25px;
}

/*-----------------------------------------------
                    INFO
-----------------------------------------------*/


.info h4{
    margin-bottom: -10px;
}


/*-----------------------------------------------
                    TOOLS
-----------------------------------------------*/

.ul-tools {
    list-style: none;
    padding: 0;
    line-height: 25px;
}

.ul-tools li a {
    text-decoration: none;
    color: black;
}

.ul-tools li a:hover {
    opacity: .8;
    color: rgb(175, 170, 170);
    transition: .2s;
}


/*-----------------------------------------------
                    SOCIALS
-----------------------------------------------*/

.socials ul {
    list-style: none;
    line-height: 25px;
}

.socials a {
    text-decoration: none;
    color: black;
}

.socials a:hover {
    opacity: .8;
    color: rgb(175, 170, 170);
    transition: .2s;
}

/*-----------------------------------------------
                    MEDIAQUERY
-----------------------------------------------*/

@media only screen and (max-width: 600px) {
    footer {
        width: 100%;
    }

    .card {
        width: 100%;
        margin: 15px 0 0 0;
        text-align: center;
    }

    .card h3 {
        font-size: 20px;
    }
  }