body {
    margin: 0%;
}
footer {
    background-color: #f1eded;
}

#hp  {
    float: left;    
     margin: 0 0 0 15px;
     margin-right: 50px;
     margin-top: 50px;
    }
#mountain-bike{
margin-top: 50px;
}

#hp2  {
    float: right;    
     margin: 0 0 0 15px;
     margin-top: 50px;
     margin-right: 50px;
    }
    #mountain-bike2{
     margin-top: 90px;
    }

    .input{
    size: 20px;
    }
    #button {
        width: 6em;
        border: 2px solid black;
        background: rgb(255, 255, 255);
        border-radius: 5px;
    }
    a {
        display: block;
        width: 100%;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
    }
    a:hover {
        color: red;
        background: #eff;
    }

    font-family: 'segoe UI Historic';
}

.sociallogo {
    max-width: 40px;
    padding-left: 15px;
}
.partners a {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

footer div {
    display: inline-block;
    min-width: 32%;
    margin-bottom: 20px;
}
.links {
    text-align: center;
}
.footlogo {
    max-width: 150px;
    margin-bottom: 50px;
}
