* {
    margin: 0;
    padding: 0;
}
footer {
    background-color: #f1eded;
}
.container{
height: 120vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
}
#hp  {
   box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    }
    .bike {
        background-color: white;
        width: 50vw;
        height: 40vh;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
        font-family: 'segoe UI Historic';
        font-size: 17px;
        border-radius: 10px;
        position: relative;
        right: 10vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }

      .bike2 {
        background-color: white;
        width: 50vw;
        height: 40vh;
        box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.26);
        font-family: 'segoe UI Historic';
        font-size: 17px;
       border-radius: 10px;
       position: relative;
       left: 10vw;
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
       justify-content: space-evenly;
      }
#hp2  {
 box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.26);
}

.sociallogo {
    max-width: 40px;
}


    font-family: 'segoe UI Historic';
}

.sociallogo {
    max-width: 80px;

    padding-left: 15px;
}
.partners a {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

footer div {
    display: inline-block;
    min-width: 32%;
    margin-bottom: 20px;
}
.links {
    text-align: center;
}
.footlogo {
    max-width: 150px;
    margin-bottom: 50px;
}
